.content {
  background-color: #0B1D26;


  &__wrapper {
    background-color: #0B1D26;
    padding-bottom: 200px;
    margin-bottom: -2px;
  }

  &__box {
    position: relative;
    padding-top: 200px;
    z-index: 3;
    display: flex;
    justify-content: space-between;

    @include small-tablet {
      display: block;
      padding-top: 50px;
    }


    &--two {
      @include small-tablet {
        display: flex;
        flex-direction: column-reverse;
      }
    }
  }

  &__inner {
    position: relative;
    padding: 140px 0px 140px 150px;
    z-index: 10;
    max-width: 773px;
    background-image: url(../img/namber-1.svg);
    background-repeat: no-repeat;
    background-position: 10px 75px;

    &--two {
      background-image: url(../img/namber-2.svg);
    }

    &--three {
      background-image: url(../img/namber-3.svg);
    }

    @include big-desktop {
      padding-left: 100px;

    }

    @include tablet {
      padding-left: 0;
      max-width: 380px;
    }

    @include small-tablet {
      margin: 0 auto;
      padding-bottom: 0px;
    }
  }

  &__title {
    margin: 0;
    position: relative;
    z-index: 10;
    margin-bottom: 27px;
    font-family: "Chronicle Display", sans-serif;
    font-size: 64px;
    font-weight: 600;
    line-height: normal;
    color: var(--light-color);

    @include big-desktop {
      font-size: 55px;
    }

    @include tablet {
      font-size: 40px;
    }
  }

  &__text {
    margin: 0;
    margin-bottom: 27px;
    font-family: "Gilroy", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    color: var(--light-color);

    @include big-desktop {
      font-size: 16px;
    }

    @include tablet {
      font-size: 14px;
    }
  }

  &__link {
    position: relative;
    padding-right: 40px;
    font-family: "Gilroy", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: var(--main-color);

    &::after {
      content: '';
      position: absolute;
      background-image: url(../img/arrow-main.svg);
      width: 24px;
      height: 16px;
      right: 0;
      top: 4px;
    }
  }

  &__img {
    align-items: center;


    @include big-desktop {
      margin-top: 100px;
      height: 500px;
    }

    @include small-tablet {
      display: block;
      margin: 50px auto;
    }
  }
}
