.footer {
  background-color: #0B1D26;
  padding-bottom: 120px;

  @include mobile {
    padding-bottom: 60px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    @include mobile {
      flex-direction: column-reverse;
      gap: 50px;
    }
  }

  &__inner {

    &--one {
      @include mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
    &--two {
      display: flex;
      gap: 200px;
      justify-content: space-between;

      @include small-tablet {
        gap: 50px;
      }

      @include mobile {
        gap: 15px;
        justify-content: space-around;
      }
    }


  }

  &__logo {
    display: block;
    margin-bottom: 24px;
  }

  &__descr {
    margin: 0;
    margin-bottom: 122px;
    max-width: 305px;
    font-family: "Gilroy", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    color: var(--light-color);

    @include small-tablet {
      font-size: 14px;
    }

    @include mobile {
      text-align: center;
      margin-bottom: 60px;
      font-size: 12px;
      max-width: 250px;
    }
  }

  &__copyright {
    margin: 0;
    opacity: 0.5;
    font-size: 18px;
    font-family: "Gilroy", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    color: #FFF;

    @include small-tablet {
      font-size: 14px;
    }

    @include mobile {
      font-size: 12px;
    }
  }

  &__subtitle {
    margin: 0;
    margin-bottom: 24px;
    font-family: "Gilroy", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    color: var(--main-color);

    @include small-tablet {
      font-size: 16px;
    }

    @include mobile {
      font-size: 14px;
    }
  }

  &__link {
    font-family: "Gilroy", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    color: var(--light-color);

    @include small-tablet {
      font-size: 14px;
    }

    @include mobile {
      font-size: 12px;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}
