.header {
  position: absolute;
  padding: 60px 0;
  width: 100%;

  &__container {
    margin: 0 auto;
    padding: 0 var(--container-offset);
    max-width: var(--content-haeder-width);
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__account {
    position: relative;
    padding-left: 32px;
    font-size: 17px;
    font-family: Gilroy, sans-serif;
    font-weight: 700;
    line-height: normal;
    color: var(--light-color);

    &::before {
      content: '';
      position: absolute;
      background-image: url(../img/account.svg);
      width: 24px;
      height: 24px;
      left: 0;
      top: -2px;
    }

    @include small-tablet {
      font-size: 16px;
    }

    @include mobile {
      display: none;
    }
  }

  &__btn {
    display: none;
    background-image: url(../img/menu.svg);
    background-repeat: no-repeat;
    width: 24px;
    height: 21px;
    z-index: 14;
    transition: all .3s ease-in-out;

    @include mobile {
      display: block;
    }

    &.burger--active {
      background-image: url(../img/close.svg);

    }
  }
}

.logo {


  &__letter {

    font-size: 32px;
    font-family: Chronicle Display, sans-serif;

    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.32px;
    text-transform: capitalize;
    color: var(--light-color);
  }
}

.nav {
  @include mobile {
    display: none;
  }

  &__list {
    display: flex;
    margin-right: 50px;

    @include small-tablet {
      margin: 0;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 40px;

      @include small-tablet {
        margin-right: 20px;
      }

    }
  }

  &__link {
    font-family: Gilroy, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
    color: var(--light-color);

    @include small-tablet {
      font-size: 16px;
    }
  }
}
