<section class="content">
  <div class="content__wrapper">
    <div class="container">

      <div class="content__box" id="content-1">
        <div class="content__inner">
          <p class="section-title">
            GEt Started
          </p>
          <h2 class="content__title">
            What level of hiker are you?
          </h2>
          <p class="content__text">
            Determining what level of hiker you are can be an important tool when planning future hikes. This hiking
            level
            guide
            will help you plan hikes according to different hike ratings set by various websites like All Trails and
            Modern
            Hiker.
            What type of hiker are you – novice, moderate, advanced moderate, expert, or expert backpacker?
          </p>
          <a class="content__link" href="#">
            read more
          </a>
        </div>
        <picture>
          <source srcset="img/content-1.avif" type="image/avif">
          <source srcset="img/content-1.webp" type="image/webp">
          <img loading="lazy" src="img/content-1.jpg" class="content__img image" width="" height="" alt="cliffs  ">
        </picture>
      </div>
      <div class="content__box content__box--two" id="content-2">
        <picture>
          <source srcset="img/content-2.avif" type="image/avif">
          <source srcset="img/content-2.webp" type="image/webp">
          <img loading="lazy" src="img/content-2.jpg" class="content__img image" width="" height="" alt="cliffs  ">
        </picture>
        <div class="content__inner content__inner--two">
          <p class="section-title">
            Hiking Essentials
          </p>
          <h2 class="content__title">
            Picking the right Hiking Gear!
          </h2>
          <p class="content__text">
            The nice thing about beginning hiking is that you don’t really need any special gear, you can probably get
            away with
            things you already have.
            Let’s start with clothing. A typical mistake hiking beginners make is wearing jeans and regular clothes,
            which will get
            heavy and chafe wif they get sweaty or wet.
          </p>
          <a class="content__link" href="#">
            read more
          </a>
        </div>

      </div>
      <div class="content__box " id="content-3">
        <div class="content__inner content__inner--three">
          <h3 class="section-title">
            where you go is the key
          </h3>
          <h2 class="content__title">
            Understand Your Map & Timing
          </h2>
          <p class="content__text">
            To start, print out the hiking guide and map. If it’s raining, throw them in a Zip-Lock bag. Read over the
            guide, study
            the map, and have a good idea of what to expect. I like to know what my next landmark is as I hike. For
            example, I’ll
            read the guide and know that say, in a mile, I make a right turn at the junction..
          </p>
          <a class="content__link" href="#">
            read more
          </a>
        </div>
        <picture>
          <source srcset="img/content-3.avif" type="image/avif">
          <source srcset="img/content-3.webp" type="image/webp">
          <img loading="lazy" src="img/content-3.jpg" class="content__img image" width="" height="" alt="cliffs  ">
        </picture>
      </div>

    </div>
  </div>
</section>
