<footer class="footer">
  <div class="container">
    <div class="footer__content">
      <div class="footer__inner footer__inner--one">
        <a class="logo footer__logo" href="#">
          <span class="logo__letter">M</span>
          <span class="logo__letter">N</span>
          <span class="logo__letter">T</span>
          <span class="logo__letter">N</span>
        </a>
        <p class="footer__descr">
          Get out there & discover your next slope, mountain & destination!
        </p>
        <span class="footer__copyright">
          Copyright 2019 MNTN, Inc. Terms & Privacy
        </span>
      </div>
      <div class="footer__inner footer__inner--two">
        <ul class="list-reset footer__list">
          <li class="footer__item">
            <h3 class="footer__subtitle">
              More on The Blog
            </h3>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#" >
              About MNTN
            </a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">
              Contributors & Writers
            </a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">
              Write For Us
            </a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">
              Contact Us
            </a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">
              Privacy Policy
            </a>
          </li>
        </ul>
        <ul class="list-reset footer__list">
          <li class="footer__item">
            <h3 class="footer__subtitle">
              More on MNTN
            </h3>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">
              The Team
            </a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">
              Jobs
            </a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">
              Press
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
