<header class="header" id="start">
  <div class="container container--header">
    <div class="header__wrapper">
      <a class="logo" href="#">
        <span class="logo__letter">M</span>
        <span class="logo__letter">N</span>
        <span class="logo__letter">T</span>
        <span class="logo__letter">N</span>
      </a>

      <nav class="nav" title="header menu">
        <ul class="list-reset nav__list">
          <li class="nav__item">
            <a href="#" class="nav__link">
              Equipment
            </a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">
              About us
            </a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">
              Blog
            </a>
          </li>
        </ul>
      </nav>
      <a href="#" class="header__account">Account</a>
      <button class="btn-reset header__btn" title="menu button" data-burger></button>
    </div>

  </div>
  <div class="menu" data-menu>
    <ul class="list-reset menu__list">
      <li class="menu__item">
        <a href="#" class="menu__link">Account</a>
      </li>
      <li class="menu__item">
        <a href="#" class="menu__link">
          Equipment
        </a>
      </li>
      <li class="menu__item">
        <a href="#" class="menu__link">
          About us
        </a>
      </li>
      <li class="menu__item">
        <a href="#" class="menu__link">
          Blog
        </a>
      </li>

    </ul>
  </div>
</header>
