<header class="header" id="start">
  <div class="container container--header">
    <div class="header__wrapper">
      <a class="logo" href="">
        <span class="logo__letter">M</span>
        <span class="logo__letter">N</span>
        <span class="logo__letter">T</span>
        <span class="logo__letter">N</span>
      </a>

      <nav class="nav" title="header menu">
        <ul class="list-reset nav__list">
          <li class="nav__item">
            <a href="#" class="nav__link">
              Equipment
            </a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">
              About us
            </a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">
              Blog
            </a>
          </li>
        </ul>
      </nav>
      <a  class="header__account">Account</a>
    </div>

  </div>

</header>
