<section class="hero">
  <div class="hero__bg">
  </div>
  <div class="hero__bg--2">
  </div>
  <div class="container--header">
    <div class="hero__content">
      <h3 class="section-title">
        A Hiking guide
        </h2>
        <h1 class="hero__title">
          Be prepared for the Mountains and beyond!
        </h1>
        <a data-scroll href="#content-1" class="btn-reset hero__btn">scroll down</a>

    </div>

  </div>
  <aside class="hero__socials">
    <span class="hero__follow">Follow us</span>
    <a class="hero__svg" href="#">
      <img loading="lazy" src="img/inst.svg" class="image" width="" height="" alt="instagram">
    </a>
    <a class="hero__svg" href="#">
      <img loading="lazy" src="img/tw.svg" class="image" width="" height="" alt="twitter">
    </a>

  </aside>
</section>
