<aside class="slider">
  <ul class="list-reset slider__list">
    <li class="slider__item slider__item--active" id="item">
      <a class="slider__link" data-scroll href="#start">
        Start
      </a>
    </li>
    <li class="slider__item"  id="item-1">
      <a class="slider__link" data-scroll href="#content-1">
        01
      </a>
    </li>
    <li class="slider__item" id="item-2">
      <a class="slider__link" data-scroll href="#content-2">
        02
      </a>
    </li>
    <li class="slider__item" id="item-3">
      <a class="slider__link" data-scroll href="#content-3">
        03
      </a>
    </li>
  </ul>
</aside>
